node_modules
dist
build
.env*
*serviceAccount*.json
seed/rules.seed.json
/admin/.credentials/
coverage
.firebase
*.log
.DS_Store
.turbo
*.tsbuildinfo
.storybook-out
storybook-static
cypress/screenshots
cypress/videos
cypress/downloads
